* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; height: 100%; padding-top: 60px;}
form { position: fixed; bottom: 0; width: 100%; }

#messages {
    height: 100%;
    list-style-type: none; margin: 0; padding: 0;
    overflow-y: scroll;
}
#messages li { padding: 5px 10px;}
#messages li:nth-child(odd) { background: #eee; }
#users_online li:nth-child(odd) { background: #eee; }
#users { padding: 4px 0 4px 10px; }

#users_online { list-style-type: none; margin: 0; padding: 0; padding-bottom: 42px; }
#users_online li { padding: 5px 10px; }

#messages_container{
    height: calc(100% - 40px);
    padding: 0 !important;
    margin: 0 !important;
}

#users_container{
    height: calc(100% - 40px);
    padding: 0 !important;
    margin: 0 !important;
}

#hide{
    font-size: 24px;;
    color: #000;
}

#navbar{
    text-align: right;
}

.container-fluid{
    height: 100%;
}